@model Projeto.Models.Establishment

@{
   ViewData["Title"] = "Detalhes";
}

<h1>Detalhes do @Model.Name</h1>

<div>
   <hr />
   <dl class="row">
      <dt class="col-sm-2">
         @Html.DisplayNameFor(model => model.Email)
      </dt>
      <dd class="col-sm-10">
         @Html.DisplayFor(model => model.Email)
      </dd>

      <dt class="col-sm-2">
         @Html.DisplayNameFor(model => model.Password)
      </dt>
      <dd class="col-sm-10">
         @Html.DisplayFor(model => model.Password)
      </dd>
   </dl>
   <h4>Fotografias do @Model.Name</h4>

   @foreach (var foto in Model.ListPhotos) {
      <p>
         <img src="~/Photos/User/@foto.Name"
              alt="fotografia do @Model.Name"
              width="100px" />
      </p>
   }


</div>
<div>
   <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
   <a asp-action="Index">Regressar</a>
</div>
