@model Projeto.Models.Comment

@{
   ViewData["Title"] = "Detalhes";
}


<div>
   <hr />
   <dl class="row">
       <dt class="col-sm-2">
         @Html.DisplayNameFor(model => model.Text)
      </dt>
      <dd class="col-sm-10">
         @Html.DisplayFor(model => model.Text)
      </dd>

      <dt class="col-sm-2">
         @Html.DisplayNameFor(model => model.User)
      </dt>
      <dd class="col-sm-10">
         @Html.DisplayFor(model => model.User.Username)
      </dd>

      <dt class="col-sm-2">
         @Html.DisplayNameFor(model => model.Establishment)
      </dt>
      <dd class="col-sm-10">
         @Html.DisplayFor(model => model.Establishment.Name)
      </dd>

      <dt class="col-sm-2">
         @Html.DisplayNameFor(model => model.Denounced)
      </dt>
      <dd class="col-sm-10">
         @Html.DisplayFor(model => model.Denounced)
      </dd>

   </dl>



</div>
<div>
   <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
   <a asp-action="Index">Regressar</a>
</div>
